{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": ["react", "react-hooks", "prettier", "import", "better-styled-components"],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended"
  ],
  "rules": {
    "quotes": [2, "single"],
    "prefer-const": 2,
    "no-const-assign": 2,
    "no-var": 2,
    "no-array-constructor": 1,
    "no-new-object": 1,
    "object-shorthand": 1,
    "quote-props": [1, "as-needed"],
    "no-loop-func": 2,
    "no-param-reassign": 2,
    "prefer-arrow-callback": 0,
    "arrow-spacing": 1,
    "space-before-blocks": 1,
    "keyword-spacing": 1,
    "comma-dangle": [1, "always-multiline"],
    "camelcase": 0,
    "no-dupe-keys": 1,
    "no-unused-vars": [1, { "vars": "local", "args": "none" }],
    "no-use-before-define": [1, "nofunc"],
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1,
    "react/react-in-jsx-scope": 1,
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "prettier/prettier": "error",
    "better-styled-components/sort-declarations-alphabetically": 2,
    "import/extensions": [
      "error",
      "always",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "import/order": [
      "error",
      {
        "groups": [["builtin", "external", "internal", "unknown"], "parent", ["sibling", "index"]],
        "newlines-between": "never"
      }
    ],
    "react/jsx-sort-props": [
      "error",
      {
        "callbacksLast": true,
        "reservedFirst": true,
        "shorthandFirst": true
      }
    ]
  }
}
